.vs/
/practice/Calculator/Calculator/bin/Debug
/practice/Exercise/Exercise/obj/Debug
/practice/Exercise/Exercise/bin/Debug
/practice/Features/Features/obj/Debug
/practice/ClassDiagram/ClassDiagram/obj/Debug
/practice/Calculator/Calculator/obj/Debug
/practice/ClassDiagram/ClassDiag2/obj/Debug
/practice/ClassDiagram/ClassDiagram/bin/Debug
/practice/ClassDiagram/Tokenizer/obj/Debug
/practice/Tokenizer/Tokenizer/bin/Debug
/practice/Tokenizer/Tokenizer/obj/Debug
/assignment/Calculator/Calculator/obj/Debug
/assignment/Calculator/Calculator/bin/Debug
/practice/Beta_One/Beta_One/bin/Debug
/practice/Beta_One/Beta_One/obj/Debug
/practice/Beta_One/Beta_One/obj/Release
/practice/Calculator/Calculator/obj/Release
/practice/ClassDiagram/ClassDiagram/obj/Release
/practice/ClassDiagram/Tokenizer/obj/Release
/assignment/Calculator/Calculator/obj/Release
/practice/Tokenizer/Tokenizer/obj/Release
/practice/Exercise/Exercise/obj/Release
